spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/fitness-user-db
    username: root
    password: Jan$2016my$ql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/