server:
  port: 8090
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://127.0.0.1:8181/realms/fitness-java-app/protocol/openid-connect/certs
  cloud:
    gateway:
      routes:
        - id: activity-service
          uri: lb://ACTIVITY-SERVICE
          predicates:
            - Path=/activities/**
        - id: ai-service
          uri: lb://AI-SERVICE
          predicates:
            - Path=/recommendations/**
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
